.parent {
    display: flex;
    flex-wrap: wrap;
    margin-right:1vh;
    margin-left:1vh;
    justify-content: center;
    margin: 0 auto;
    width:100%;
    min-height:auto;
    padding-bottom: 2rem;
 }


 .eachThumbNail{
    margin:5px;
    text-align: left;
 }

 .eachThumbNailFocus{
    opacity: 0.2;
 }
 .eachThumbNail:focus{
     opacity: 0.2;
 }